html
  head
    style
      include styles.css
    title= title
    body 
    div#control
      span#locationMainButton.location
      span#typeMainButton.type
      span#groupType.type Group by Type
      span#groupLocation.location Group by Location
      select#dateSelector
        option(value=1) 1 Day
        option(value=7) 7 Days
        option(value=30) 30 Days
    main
    section#calls
      for object in calls
        div.callGroup
          if object.groupBy == 'location'
            h1=object.calls[0].locationCount + " call(s)  at " + object.calls[0].location
          else 
            h1=object.calls[0].typeCount + " call(s)  at " + object.calls[0].type
          for call in object.calls
            div.card
                div.date=call.time + " --- " + call.date 
                if object.groupBy == 'location'
                  div.type
                    span=call.type
                    span=call.typeCount
                else
                  div.location
                    span=call.location 
                    span=call.locationCount


    script 
      include index.js
