html
  head
    style
      include styles.css
    title= title
    body 
    main
      for call in calls
        div.card
          p=call.datetime
          div.type
            span=call.type
            span=call.typeCount

          div.location
            span=call.location
            span=call.locationCount
    script 
      include index.js
