html
  head
    style
      include styles.css
    title= title
    body 
    div#control
      div#locationMain All Calls From Location: 
        div#locationMainButton.location.roundButton
      div#typeMain All Calls For Type: 
        div#typeMainButton.type.roundButton


      select#sortCategory
        option(value="datetime") Date / Time
        option(value="typeCount") Type Count
        option(value="locationCount") Location Count
        option(value="location") Location A-Z
        option(value="type") Type A-Z

      button#sortDirection
      button(id="sortSet", name="sortSet") Set Sort


      label(for="dateStart") Start date:
      input(type="date", id="dateStart", name="dateStart")     


      label(for="dateEnd") End date:
      input(type="date", id="dateEnd", name="dateEnd")     

      button(id="dateSet", name="dateSet") Set Date

    main
    section#calls
      for call in calls
        div.card
          div.roundButton=call.time + " --- " + call.date 
          div.typeContainer
              span.type.roundButton=call.type
              if originalQuery.location
                if call.typeCount > 1
                  span=call.typeCount+ " calls of this type from this location"
                else 
                  span=call.typeCount + " call of this type from this location"
              else 
                if call.typeCount > 1
                  span=call.typeCount + " calls of this type from any location"
                else 
                  span=call.typeCount + " call of this type from any location"
          div.locationContainer
            span.location.roundButton=call.location
            if originalQuery.type
              if call.locationCount > 1
                span=call.locationCount+ " calls from this location of this type"
              else 
                span=call.locationCount + " call from this location of this type"
            else 
              if call.locationCount > 1
                span=call.locationCount + " calls from this location for any type"
              else 
                span=call.locationCount + " call from this location for any type"

    script 
      include index.js
