html
  head
    style
      include styles.css
    title STL Emergency Calls
    body 

    h1 St Louis Metro PD Emergency Calls 
    h2 Organized, Filterable, Sortable 

    if errorMessage
      p.error=errorMessage
      button(id="clear", name="clear") Clear and Go

    p.info
    div#control
      div.date
        label(for="dateStart") From: 
        input(type="date", id="dateStart", name="dateStart")     


        label(for="dateEnd") To:
        input(type="date", id="dateEnd", name="dateEnd")     

        button(id="dateSet", name="dateSet") Set Date


      div.sort
        label(for="sortCategory") Sort: 
        select#sortCategory
          option(value="datetime") Date / Time
          option(value="typeCount") Type Count
          option(value="locationCount") Location Count
          option(value="location") Location A-Z
          option(value="type") Type A-Z

        button#sortDirection
        button(id="sortSet", name="sortSet") Sort


    
      div#filter
        p Filter: 
        div.typeContainer
          button#typeMainButton.type.buttonBox
        div.locationContainer
          button#locationMainButton.location.buttonBox


    mains
    section#calls
      if calls
        for call in calls
          div.card
            div=call.time + " --- " + call.date 
            div.typeContainer
                button.type.buttonBox=call.type
                if originalQuery.location
                  if call.typeCount > 1
                    span=call.typeCount+ " calls of this type from this location"
                  else 
                    span=call.typeCount + " call of this type from this location"
                else 
                  if call.typeCount > 1
                    span=call.typeCount + " calls of this type from any location"
                  else 
                    span=call.typeCount + " call of this type from any location"
            div.locationContainer
              button.location.buttonBox=call.location
              if originalQuery.type
                if call.locationCount > 1
                  span=call.locationCount+ " calls from this location of this type"
                else 
                  span=call.locationCount + " call from this location of this type"
              else 
                if call.locationCount > 1
                  span=call.locationCount + " calls from this location for any type"
                else 
                  span=call.locationCount + " call from this location for any type"

    script 
      include index.js
